.DS_Store
.vscode
.idea

# npm
node_modules
npm-debug.log

# yarn
.pnp.*
.yarn

# env
.env

# tests
test-results
playwright-report
cucumber-report
/allure-results-tag/
**/.features-gen/**/*.spec.js

.nx

build-archive.log
/browserstack.yml
/logs/
/allure-results